/* Scss Document */

/* --------------------------------
 * variables
 * -------------------------------- */
$color-dominant: #CB1B45;
$color-sub-blue: #0089A7;
$color-sub-green: #096148;
$color-sub-yellow: #F7D94C;
$color-border: #95989A;

$imgs-path-logo: '../images/logo.svg';
$imgs-path-bg: '../images/bgimage.jpg';
$imgs-arrow: '../images/arrow.svg';




/* --------------------------------
 * review-deployment-components
 * -------------------------------- */

#review-form {
	position: relative;
	margin: auto;
	padding: 1.2rem 2rem ;
	max-width: 85%;
	text-align: center;
	font-size: 2rem;
	
	& .review-decompressor {
		display: inline-block;
		color: #fff;
		background-color: $color-dominant;
		padding: .6rem 3rem;
		border-radius: .5rem;
		margin-left: 10px;
	}

	& #opener {
		display: none;
	}
	
	& #form-main {
		height: 0;	
		padding: 0;
		overflow: hidden;
		opacity: 0;
		transition: .3s;
	}
	
	&	.review-acc:checked + #form-main {
			height: auto;
			opacity: 1;
	}		
	
	
	& fieldset {
		margin: 2.5rem;
		text-align: left;
	}
	
	
	& input {
		padding: 1rem;
		border: none;
		display: inline-flex;
		width: 100%;
		height: 3rem;
	}
	
	& textarea {
		min-height: calc(100% - 2rem);
		border: none;
		height: 300px;
		width: 100%;
		font-size: 1.6rem;	
	}
	
	& button {
		width: 60%;
		border: none;
		background-color: $color-dominant;
		color: #FFF;
		border-radius: 5px;
	}
}
