/* Scss Document */



@charset "UTF-8";
@import 'categorycontents';
@import 'comments';


/* --------------------------------
 * variables
 * -------------------------------- */
$color-dominant: #CB1B45;
$color-sub-blue: #0089A7;
$color-sub-green: #096148;
$color-sub-yellow: #F7D94C;
$color-border: #95989A;
$color-border-vague: #CCD1D5;

$imgs-path-logo: '../images/logo.svg';
$imgs-path-bg: '../images/bgimage.jpg';
$imgs-arrow: '../images/arrow.svg';


/* --------------------------------
 * base style
 * -------------------------------- */

html {
  font-size: 62.5%;
  height: 100%;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}


body {
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

a {
	text-decoration: none;
	color: #333;
}

main {
  flex: 1;
}
/* --------------------------------
 * basic style
 * -------------------------------- */

.heading {
	color: $color-dominant;
  position: relative;
  display: inline-block;
  margin: 20px 0 10;
  padding-bottom: 4px;
  letter-spacing: 2px;
  font-size: 2rem;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
//    border-bottom: 1px solid #999;
  }
}

/* --------------------------------
 * header
 * -------------------------------- */


.header {
  padding: 10px 30px 30px;
	background: rgba(255,255,255,0.85);
}

.site-title {
	background: url(#{$imgs-path-logo}) no-repeat;
  font-size: 3rem;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
  position: relative;

  &:before {
    position: absolute;
    width: 100vw;
    background-color: $color-dominant;
  }
}

.site-description {
  margin-bottom: 10px;
  color: #888;
  font-size: 1.6rem;
}

/* --free search style-- */

.mainsearch {
	display: inline-block;
	width: 100%;
	margin: auto;
	padding: 5px auto 5px;
}

.searchsquare {
  color: #333;
	display: inline-block;
	width: 400px;
	height: 30px;
	padding: 2px 2px 2px 20px;
	border-radius: 5px 0 0 5px;
	border: 1px solid $color-border-vague;
	fonz-size: 1.3rem;
}
.searchbutton {
	display: inline-block;
	color: #fff;
	height: 30px;
	width: 50px;
	background-color: $color-dominant;
	padding: 1px 1px 1px 1px;
	border: 1px;
	border-radius: 0 5px 5px 0;
}



/* --------------------------------
 * skills
 * -------------------------------- */

.skills {
  padding: 5px 0;
  background-color: #fff;
  color: #333;
}

.skills-wrapper {
  display: table;
  width: 80%;
  margin: 10px auto 0;
  table-layout: fixed;
}

.skill-box {
  display: table-cell;

  &:hover {
    background-color: $color-dominant;
    border-radius: 12px;
    opacity: 0.55;
    border: 1px solid #333;
  }
}


.material-icons {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  color: #000000;
  line-height: 142px;
}

.skill-title {
  margin: 0 20px 20px;
  font-size: 4rem;
}

.skill-text {
  margin: 0 20px;
  line-height: 2;
}



/* --------------------------------
 * news
 * -------------------------------- */
.news {
	background-color: #fff;
	width: inherit;
}

.newslists {
	position: relative;
	list-style-type: none;
	max-height: 180px;
	overflow-y: auto;
	margin: 10px auto 90px;
	width: 90%;
	border-top: 1px solid #999;

	& .newslist {
		width: inherit;
	}

	& .topic {
		color: #333;
		display: block;
		padding: 10px 15px;
		text-decoration: none;
		font-size: 0;
	}

	& .date {
		display: inline-block;
		width: 20%;
		font-size: 1rem;
		letter-spacing: 1px;
	}

	& .category {
		display: inline-block;
		width: 13%;
		font-size: 1rem;
	}

	& .tips {
		display: inline-block;
		width: 47%;
		padding-left: 25px;
		font-size: 1.2rem;
		text-align: left;
	}
}

/* -- news category styles--*/
@mixin radius_square {
	border-radius: 2px;
	color: #fff;
}

.news_tips{
	background-color: $color-dominant;
	@include radius_square;
}

.reviews_tips{
	background-color: $color-sub-blue;
	@include radius_square;
}

.recommends_tips{
	background-color: $color-sub-green;
	@include radius_square;
}



/* --------------------------------
 * footer
 * -------------------------------- */


.footer {
  padding: 12px 30px 30px;
  font-size: 1.3rem;
	border-top: 8px solid #959A9A;
	background-color: $color-dominant;
}

.footernavi {
	margin: 5px 5px 5px;

	& a {
		color: #fff;
	}
}

.copyright{
	white-space: pre-wrap;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }
  /* --- header --- */
  .header {
    padding-top: 60px;
  }
  .site-title-sub {
    font-size: 1.7rem;
    &::before, &::after {
      display: block;
      width: 80%;
      margin: 10px auto;
    }
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }
  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }
  /* --- works --- */
  .works-wrapper, .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }
  /* --- skills --- */
  .skills-wrapper {
    display: block;
  }
  .skill-box {
    display: block;
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
  }
  /* --- contact --- */
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
}
