<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <main>
    <article>
      <ul>
        <li><a href="#"><span>2018/03/10"</span>記事タイトル10</a></li>
        <li><a href="#"><span>2018/03/09"</span>記事タイトル9</a></li>
        <li><a href="#"><span>2018/03/08"</span>記事タイトル8</a></li>
        <li><a href="#"><span>2018/03/07"</span>記事タイトル7</a></li>
        <li><a href="#"><span>2018/03/06"</span>記事タイトル6</a></li>
        <li><a href="#"><span>2018/03/05"</span>記事タイトル5</a></li>
        <li><a href="#"><span>2018/03/04"</span>記事タイトル4</a></li>
        <li><a href="#"><span>2018/03/03"</span>記事タイトル3</a></li>
        <li><a href="#"><span>2018/03/02"</span>記事タイトル2</a></li>
        <li><a href="#"><span>2018/03/01"</span>記事タイトル1</a></li>
      </ul>
    </article>
    <nav>
      <a href="#">前へ</a>
      <a href="#">次へ</a>
    </nav>
  </main>

  <footer>
    <small>copyright</small>
  </footer>
</body>
</html>
