{{ partial "header.html" . }}
    <article>
      <ul>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") 20 }}
        {{ range $paginator.Pages }}
          {{ .Render "list" }}
        {{ end }}
      </ul>
    </article>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pagination">
      {{ if .Pagenator.HasPrev }}
      <a href="{{ .Pagenator.Prev.URL }}">前へ</a>
      {{ end }}
      <span class="current-page">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
      {{ if .Paginator.HasNext }}
      <a href="{{ .Pagenator.Next.URL }}">次へ</a>
      {{ end }}
    </nav>
    {{ end }}
{{ partial "footer.html" . }}
